
  @import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@600&family=Quicksand&family=Tilt+Prism&family=Tourney:ital@1&family=Ysabeau+SC:wght@800&display=swap');


*{
    box-sizing: border-box;
    margin: 0%;
    transition: all .2s linear;
    border: none;
    
}

html{
   font-size: 63%;
   overflow-x: hidden;
   scroll-padding-top: 5.5rem;
   scroll-behavior: smooth;
 
}

header{
    position: fixed;
    top: 0;left: 0;right: 0;
    background: rgb(1, 1, 41);
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index:1000;
    box-shadow: 0 2px 2px rgb(247, 233, 207);
}

header .navbar a{
    font-size: 1.5rem;
    border-radius: 5rem;
    padding: .5rem 1.5rem;
    color: rgb(242, 143, 22);
    font-weight: bold;
}

header .navbar a .active,
header .navbar a:hover{
    cursor: pointer;
    background-color: rgba(254, 254, 254, 0.448);
}

header .icons i{
    cursor: pointer;
    margin-left: 5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.5rem;
    color: antiquewhite;
    border-radius: 50%;
    display: none;
}

header .icons i:hover{
    background-color: rgba(240, 248, 255, 0.284);
    transform:rotate(360deg);
}

@media(max-width:991px){
    html{
        font-size: 55%;
    }

    header{
        padding: 1rem 2rem;
    }
}

@media(max-width:768px){
    header .icons i{
        display:inline-block;
    }

    header .navbar{
        position: absolute;
        top:100%; left:0; right: 0;
        background:rgb(15, 0, 35) ;
        border-top: .1rem solid rgba(2, 0, 20, 0.349)1, 1, 1;
        padding:1rem;
        clip-path: polygon(0 0,100% 0, 100% 0, 0 0);
    }

    header .navbar .active{
        clip-path: polygon(0 0,100% 0, 100% 100%,0% 100%);
    }

    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin:1rem ;
        font-size: 2rem;
        background: rgb(40, 33, 67);
    }

}

body .bg{
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 50%;
    margin-bottom: 5rem;
}

.first .one{
color: rgb(2, 23, 116);
position:relative;
font-size: 10rem;
text-align: center;
margin: 8rem;
text-transform: uppercase;
text-shadow: rgb(255, 0, 111) 1px 0 10px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-weight: bolder;
}

.first .two{
    color: rgb(0, 0, 0);
    position: relative;
    font-size: 15rem;
    text-align: center;
    margin-top: 4rem;
    text-transform:uppercase;
    text-shadow: rgb(238, 255, 2) 3px 0 20px;
    font-weight: bolder;
    transition: all 5s linear 1s;
    padding-top: 5rem;

}

.first .three{
    color: rgb(0, 33, 34);
    text-shadow: red 2px 2px 10px;
    position: relative;
    text-align: center;
    margin-top: 2rem;
    font-size: 10rem;
    font-weight: 400;
}

.second{
    display:inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 29);
    height: 50rem;
    width: 100%;
    margin: 20rem 0 0rem 0;
}

 .second div{
    width: 20rem;
    height: 25rem;
    background: rgb(248, 244, 244);
    margin: 1rem 2rem 1rem 2rem;
    
 }

.second div i{
   padding: 5rem 9rem;
}

.second div p{
    color: black;
    font-size: medium;
    text-align: center;
}

.third{
    height: 50rem;
    width: 100%;
    background-color: rgb(1, 1, 30);
    display: flex;
    align-items: center;
 justify-content: center;
 padding:15rem 0 25rem 0;
 
}

.third .left{
    background-color: rgba(240, 248, 255, 0.415);
     width: 50rem;
     height: 35rem;
     padding: 0 1rem 1rem 1rem;
}

.third .left h2{
    font-weight: bold;
    text-align: center;
    font-size: 4rem;
    color: aqua;
}

.third .left p{
    font-size: 2rem;
    color: antiquewhite;
    text-align: justify;
    margin:1rem 1rem ;
}

.third .left a{
    text-decoration: none;
    color: rgb(6, 0, 110);
    font-size: 2rem;
    font-weight: bolder;
}


.third .left a:hover{
    color: chartreuse;
}
.third .right img{
    width: 50rem;
   margin-left: 2rem;
}

.four div p{
    color: rgb(197, 244, 10);
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background-image: url("photo4.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem;
  text-shadow: rgb(4, 4, 69) 2px 2px 2px ;
}

.five{
    background-color: rgb(0, 0, 29);
    padding-top:5rem;
    height: 75rem;
}

.five .h{
    color: antiquewhite;
    text-align: center;
    font-weight: 900;
    font-size: 5rem;
    letter-spacing: 4px;
}

.five .menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.five .menu div{
    height: 40rem;
    width: 30rem;
    background-color: rgb(18, 55, 67);
    margin: 5rem 1rem 0 1rem;
}

.five .menu div:hover{
    cursor: pointer;
}


.five .menu div p{
    color: antiquewhite;
    font-size: 3rem;
   text-align:center ;
}

.five .menu div span{
    color: rgb(88, 234, 144);
    font-style: italic;
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
    padding: 7rem 5rem 1rem 9rem;
}

.five .menu div span:hover{
     font-size: 5rem;
     cursor: pointer;
}

.five .menu div img{
    width: 28rem;
    margin: 5rem 1rem 2rem 1rem;
}
.five .menu div img:hover{
    width: 29rem;
}


.foot{
    background-color: rgb(15, 2, 45);
    width: 100%;
    height: 15rem;
    padding-top: 2rem;
    display: block;
    justify-content: center;
    align-items: center;
}

.foot .mail{
    color: rgb(248, 248, 248);
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
}

.foot div{
    margin: 2rem 0 2rem 60rem;
}

.foot div a{
    margin-left:5rem ;
    
    padding:1rem 1rem 1rem 1rem;
}


.foot p{
    color: rgb(223, 226, 228);
    text-align: center;
    font-size: 2rem;
}

.foot a:hover{
    background-color: rgba(225, 255, 0, 0.281);
}